<launch>
  <node pkg="interactive_segmentation" name="interactive_segmentation"
	type="interactive_segmentation_node" output="screen">
    <remap from="input_image" to="/camera/rgb/image_rect_color" />
    <remap from="input_edge" to="/edge/image" />
    <remap from="input_cloud" to="/plane_extraction/output_nonplane_cloud" />
  </node>
</launch>
