<launch>
  <arg name="input_point" default="/camera/depth_registered/points" />
  <arg name="input_normal" default="/multi_plane_estimate/output_normal" />
  <arg name="input_indices" default="/multi_plane_estimate/output_normal" />
  <arg name="filter_point" default="/pcl_filter_utils/output/cloud" />
  <arg name="num_threads" default="8" />
  <include file="$(find pcl_filter_utils)/launch/pcl_filter_utils.launch">
    <arg name="cloud" value="$(arg input_point)"/>
  </include>

  <!-- delete this when nodes are snyc -->
  <include file="$(find interactive_segmentation)/launch/organized_multi_plane_segmentation.launch">
    <arg name="INPUT" value="$(arg filter_point)"/>
  </include>
  
  <node pkg="interactive_segmentation" name="object_region_estimation"
	type="object_region_estimation_node" output="screen" clear_params="true">
    <remap from="input_cloud" to="/plane_extraction/output_nonplane_cloud" />
    <remap from="input_normals" to="$(arg input_normal)" />
  </node>

  <node pkg="interactive_segmentation" type="feature3d_clustering.py"
	name="feature3d_clustering" output="screen">
  </node>
  
  <node pkg="jsk_pcl_ros" type="cluster_point_indices_decomposer"
	name="object_region_estimation_decomposer" output="screen">
    <remap from="~input" to="/object_region_estimation/output/cloud" />
    <remap from="~target" to="/object_region_estimation/output/indices" />
    <remap from="~align_planes" to="/multi_plane_estimate/output_refined_polygon" />
    <remap from="~align_planes_coefficients" to="/multi_plane_estimate/output_refined_coefficients" />
    <param name="/interactive_segmentation_decomposer/align_boxes" value="true" />
    <param name="/interactive_segmentation_decomposer/use_pca" value="true" />
    <param name="/interactive_segmentation_decomposer/publish_clouds" value="false" />
    <param name="/interactive_segmentation_decomposer/publish_tf" value="true" />
  </node>
  
</launch>
