<launch>
  <arg name="input_point" default="/camera/depth_registered/points" />
  <arg name="input_normal" default="/multi_plane_estimate/output_normal" />
  <arg name="input_indices" default="/multi_plane_estimate/output_normal" />
  <arg name="filter_point" default="/pcl_filter_utils/output/cloud" />
  <arg name="num_threads" default="8" />
  <include file="$(find pcl_filter_utils)/launch/pcl_filter_utils.launch">
    <arg name="cloud" value="$(arg input_point)"/>
  </include>

  <!-- delete this when nodes are snyc -->
  <include file="$(find interactive_segmentation)/launch/organized_multi_plane_segmentation.launch">
    <arg name="INPUT" value="$(arg filter_point)"/>
  </include>
  
  <node pkg="interactive_segmentation" name="object_region_estimation"
	type="object_region_estimation_node" output="screen" clear_params="true">
    <remap from="input_cloud" to="/plane_extraction/output_nonplane_cloud" />
    <remap from="input_normals" to="$(arg input_normal)" />
  </node>
</launch>
