<launch>
  <arg name="input_point" default="/kinect_head_c2/depth_registered/points" />
  <arg name="input_pose" default="/pr2_pushing_node/assumed_pose" />
  <arg name="camera_info" default="/kinect_head_c2/depth_registered/camera_info" />
  <arg name="non_plane_cloud" default="/plane_extraction/output_nonplane_cloud" />
  
  <!-- <arg name="input_indices" default="/multi_plane_estimate/output_normal" /> -->
  <!-- <arg name="filter_point" default="/pcl_filter_utils/output/cloud" /> -->
  <!-- <arg name="input_image" default="/camera/rgb/image_rect_color" /> -->
  <arg name="num_threads" default="8" />

  
  <!-- <include file="$(find pcl_filter_utils)/launch/pcl_filter_utils.launch"> -->
  <!--   <arg name="cloud" value="$(arg input_point)"/> -->
  <!-- </include> -->

  <!-- delete this when nodes are snyc -->
  <!-- <include file="$(find interactive_segmentation)/launch/organized_multi_plane_segmentation.launch"> -->
  <!--   <arg name="INPUT" value="$(arg filter_point)"/> -->
  <!-- </include> -->
  
  <include file="$(find point_cloud_image_creator)/launch/point_cloud_image_creator.launch">
    <arg name="input" value="$(arg non_plane_cloud)" />
    <arg name="info" value="$(arg camera_info)" />
    <arg name="ns" value="cloud_image" />
  </include>
  
  <node pkg="interactive_segmentation" name="object_region_estimation"
	type="object_region_estimation_node" output="screen" clear_params="true">
    <remap from="input_cloud" to="$(arg non_plane_cloud)" />
    <remap from="input_orig" to="$(arg input_point)" />
    <remap from="input_image" to="/cloud_image/output/image" />
    <remap from="input_pose" to="$(arg input_pose)" />

    <!-- subscribing to segmented topics -->
    <remap from="prev_cloud" to ="/interactive_segmentation/output/cloud" />
    <remap from="prev_image" to ="/cloud_image/output/image" />
    <remap from="prev_plane" to ="/interactive_segmentation/output/plane_info" />
  </node>

  
  <!-- <node pkg="interactive_segmentation" type="feature3d_clustering.py" -->
  <!-- 	name="feature3d_clustering" output="screen"> -->
  <!-- </node> -->
  
  <node pkg="jsk_pcl_ros" type="cluster_point_indices_decomposer"
	name="object_region_estimation_decomposer" output="screen">
    <remap from="~input" to="/object_region_estimation/output/cloud" />
    <remap from="~target" to="/object_region_estimation/output/indices" />
    <remap from="~align_planes" to="/multi_plane_estimate/output_refined_polygon" />
    <remap from="~align_planes_coefficients" to="/multi_plane_estimate/output_refined_coefficients" />
    <param name="/interactive_segmentation_decomposer/align_boxes" value="true" />
    <param name="/interactive_segmentation_decomposer/use_pca" value="true" />
    <param name="/interactive_segmentation_decomposer/publish_clouds" value="false" />
    <param name="/interactive_segmentation_decomposer/publish_tf" value="true" />
  </node>
  
</launch>
