<launch>
  <arg name="INPUT" default="/pcl_filter_utils/output/cloud" />
  <arg name="LAUNCH_MANAGER" default="true" />
  <arg name="MANAGER" default="organized_multi_plane_manager" />
  <arg name="MACHINE" default="localhost"/>
  <arg name="GDB" default="false" />
  <machine name="localhost" address="localhost" />
  
  <group if="$(arg LAUNCH_MANAGER)">
    <node pkg="nodelet" type="nodelet" name="$(arg MANAGER)"
          args="manager"
          machine="$(arg MACHINE)"
          if="$(arg GDB)"
          launch-prefix="xterm -e gdb --args"
          output="screen"/>
    <node pkg="nodelet" type="nodelet" name="$(arg MANAGER)"
          args="manager"
          machine="$(arg MACHINE)"
          unless="$(arg GDB)"
          output="screen"/>
  </group>
  
  <node pkg="nodelet" type="nodelet" name="multi_plane_estimate"
        machine="$(arg MACHINE)"
        args="load jsk_pcl/OrganizedMultiPlaneSegmentation $(arg MANAGER)"
        clear_params="false">
    <remap from="~input" to="$(arg INPUT)"/>
    <rosparam>
      max_curvature: 0.01
      estimate_normal: true
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="colorize_error"
        machine="$(arg MACHINE)"
        args="load jsk_pcl/ColorizeDistanceFromPlane $(arg MANAGER)"
        clear_params="false">
    <remap from="~input" to="$(arg INPUT)"/>
    <remap from="~input_indices" to="multi_plane_estimate/output_refined"/>
    <remap from="~input_coefficients" to="multi_plane_estimate/output_refined_coefficients"/>
    <remap from="~input_polygons" to="/multi_plane_estimate/output_refined_polygon" />
  </node>
  
  <node pkg="nodelet" type="nodelet"
        name="cluster_decomposer"
        machine="$(arg MACHINE)"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)"
        output="screen">
    <remap from="~input" to="$(arg INPUT)" />
    <remap from="~target" to="/multi_plane_estimate/output" />
    <rosparam>
      publish_clouds: false
      publish_tf: false
    </rosparam>
  </node>
  <node pkg="nodelet" type="nodelet"
        name="cluster_decomposer2"
        machine="$(arg MACHINE)"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)"
        output="screen">
    <remap from="~input" to="$(arg INPUT)" />
    <remap from="~target" to="/multi_plane_estimate/output_nonconnected" />
    <rosparam>
      publish_clouds: false
      publish_tf: false
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet"
        name="plane_extraction"
        machine="$(arg MACHINE)"
        args="load jsk_pcl/MultiPlaneExtraction $(arg MANAGER)"
        output="screen">
    <remap from="~input" to="$(arg INPUT)" />
    <remap from="~indices" to="/multi_plane_estimate/output_refined" />
    <remap from="~input_polygons" to="/multi_plane_estimate/output_refined_polygon" />
    <remap from="~input_coefficients" to="/multi_plane_estimate/output_refined_coefficients" />
  </node>
</launch>
