
<launch>
  <include file="$(find pr2_machine)/pr2.machine" />
  <include file="$(find jsk_pcl_ros)/launch/organized_multi_plane_segmentation.launch" >
    <arg name="INPUT" value="/kinect_head_c2/depth_registered/points" />
    <arg name="MANAGER" value="/kinect_head_c2/kinect_head_c2_nodelet_manager" />
    <arg name="LAUNCH_MANAGER" value="false" />
    <arg name="MACHINE" value="c2" />
  </include>
</launch>
