<launch>
  <node pkg="jsk_perception" type="dilate_mask_image" name="dilate_mask_image">
    <remap from="~input" to="/interactive_segmentation/output/image" />
  </node>
  <node pkg="jsk_perception" type="skeletonization" name="skeletonization">
    <remap from="~input" to="/dilate_mask_image/output" />
  </node>
  <node pkg="image_view" type="image_view" name="edge_view" >
    <remap from="image" to="/skeletonization/image_output" />
  </node>
</launch>
