<launch>
  <arg name="input" default="/camera/depth_registered/points" />
  <arg name="filtered" default="/filter/output"/>

  <node pkg="nodelet" type="nodelet" name="filter"
        args="standalone pcl/PassThrough">
    <remap from="~input" to="$(arg input)" />
    <rosparam>
      keep_organized: true
      filter_field_name: z
      filter_limit_min: 0
      filter_limit_max: 2.0
    </rosparam>
  </node>
  
  <node pkg="point_cloud_edge" name="point_cloud_edge" type="point_cloud_edge_node"
  	output="screen" >
    <!-- <remap from="input_cloud" to="$(arg input)" /> -->
    <remap from="input_cloud" to="$(arg filtered)" />
  </node>
</launch>
