<launch>
  <arg name="input_cloud" default="/camera/depth_registered/points" />
  <arg name="input_mask" default="/camera/depth_registered/points" />

  <arg name="threads" default="8" />
  <arg name="k" default="8" />
  <arg name="search" default="true" />


   <node pkg="nodelet" type="nodelet"
         name="voxelgrid"
         args="standalone pcl/VoxelGrid"
         output="screen" clear_params="true">
     <remap from="~input" to="$(arg input_cloud)" />
     <param name="filter_limit_min" value="0" />
     <param name="filter_limit_max" value="1.0" />
     <param name="filter_limit_field_name" value="z" />
     <param name="leaf_size" value="0.01" />
   </node>
  
  
  <node pkg="point_cloud_mincut_maxflow" type="point_cloud_mincut_maxflow_node" name="point_cloud_mincut_maxflow" 
	output="screen" >
    <!-- <remap from="in_cloud" to="$(arg input_cloud)" /> -->
    <!-- <remap from="in_mask" to="$(arg input_mask)" /> -->

    <remap from="in_cloud" to="voxelgrid/output" />
    <remap from="in_mask" to="voxelgrid/output" />

    <param name="num_threads" value="$(arg threads)" type="int" />
    <remap from="num_threads" to="/point_cloud_mincut_maxflow/num_threads" />

    <param name="neigbour_size" value="$(arg k)" type="int" />
    <remap from="neigbour_size" to="/point_cloud_mincut_maxflow/neigbour_size" />

    <param name="is_search" value="$(arg search)" type="bool" />
    <remap from="is_search" to="/point_cloud_mincut_maxflow/is_search" />
    
  </node>

  <node pkg="jsk_pcl_ros" type="cluster_point_indices_decomposer" name="point_cloud_mincut_maxflow_decomposer">
    <remap from="~input" to="voxelgrid/output" />
    <remap from="~target" to="/point_cloud_mincut_maxflow/output/indices" />
  </node>
</launch>
