<launch>
  <arg name="input" default="/plane_extraction/output_nonplane_cloud" />
  <arg name="info" default="/hsrb/head_rgbd_sensor/depth_registered/camera_info" />
  <arg name="indices" default="/cluster_decomposer_final/cluster_indices" />
  
  <arg name="mask" default="false" />
  <arg name="roi" default="false" />
  <arg name="image" default="/camera/rgb/image_rect_color" />
  <arg name="ns" default="/cloud_image" />
  
  <group ns="$(arg ns)">
    <node pkg="point_cloud_image_creator" type="point_cloud_image_creator_node"
	  name="point_cloud_image_creator" output="screen">

      <remap from="~points" to="$(arg input)" />
      <remap from="~info" to="$(arg info)" />
      <remap from="~indices" to="$(arg indices)" />
      
      <!--
      <remap from="input_info" to="$(arg info)" />
      <remap from="input" to="$(arg input)" />
      <remap from="in_image" to="$(arg image)" />
      <param name="mask_image" value="$(arg mask)" type="bool" />
      <remap from="mask_image" to="/point_cloud_image_creator/mask_image" />

      <param name="roi_image" value="$(arg roi)" type="bool" />
      <remap from="roi_image" to="/point_cloud_image_creator/roi_image" />

      <remap from="out_image" to="output/image" />
      <remap from="interpolated_image" to="output/interpolated_image" />
      <remap from="out_cloud" to="output/cloud" />
      -->
    </node>
  </group>
    
  <!-- <node pkg="image_view" type="image_view" -->
  <!-- 	name="image_view" output="screen" > -->
  <!--   <remap from="image" to="/cloud_image/output/image" /> -->
  <!-- </node> -->
</launch>
