<launch>
  <node pkg="image_annotation_tool" type="image_annotation_tool_node"
	name="image_annotation_tool" output="screen" >
    <remap from="input" to="/camera/rgb/image_rect_color" />
  </node>
  <node pkg="image_view2" type="image_view2" name="image_view2">
    <remap from="image" to="/camera/rgb/image_rect_color" />
  </node>
</launch>
