#!/usr/bin/env python

# set up parameters that we care about
PACKAGE = 'collision_check_grasp_plannar'
try:
    import imp
    imp.find_module(PACKAGE)
    from dynamic_reconfigure.parameter_generator_catkin import *;
except:
    import roslib; roslib.load_manifest(PACKAGE)
    from dynamic_reconfigure.parameter_generator import *;
from math import pi
gen = ParameterGenerator ()

gen.add("gripper_size", double_t, 0,"maximum gripper openning(m)", 0.1, 0.0, 1.0)
gen.add("approach_translation", double_t, 0,"pre-grasp approach position(m)", 0.02, 0.0, 1.0)
gen.add("grasp_depth", double_t, 0,"distance gripper has to insert on the object (m)", 0.03, 0.0, 0.10)	

exit (gen.generate (PACKAGE, "collision_check_grasp_plannar", "CollisionCheckGraspPlannar"))