<launch>
  <include file="$(find multilayer_object_tracking)/launch/object_model_annotation.launch" />
  <!--<include file="$(find multilayer_object_tracking)/launch/supervoxel_segmentation.launch" />-->
  <node pkg="pcl_filter_utils" type="pcl_filter_utils_node" 
	name ="pcl_filter_utils" output="screen">
    <remap from="input" to="/camera/depth_registered/points"/>
    <remap from="target" to="pcl_filter_utils/output/cloud" />
  </node>node>
  
  <node pkg="multilayer_object_tracking" type="multilayer_object_tracking_node"
	name="multilayer_object_tracking" output="screen" >
    <!--<remap from="input_cloud" to="/camera/depth_registered/points" />-->
    <remap from="input_cloud" to="/pcl_filter_utils/output/cloud" />
    <remap from="input_obj_cloud" to="/object_model/output/cloud" />
    <remap from="input_pose" to="/particle_filter_tracker/track_result_pose" />
    <remap from="input_obj_pose" to="/object_model/output/pose" />
  </node>
  <node pkg="multilayer_object_tracking" type="estimated_centroids_clustering.py"
	name="estimated_centroids_clustering" output="screen" >
  </node>
  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

  <!--<node pkg="jsk_pcl_ros" type="cluster_point_indices_decomposer" 
	name="multilayer_object_tracking_tdp" output="screen">
    <remap from="~input" to="/multilayer_object_tracking/output/cloud" />
    <remap from="~target" to="/multilayer_object_tracking/supervoxel/tdp_indices" />
    <remap from="~align_planes" to="/multi_plane_estimate/output_refined_polygon" />
    <remap from="~align_planes_coefficients" to="/multi_plane_estimate/output_refined_coefficients" />
    <rosparam>
      align_boxes: false
      use_pca: true
      publish_clouds: false
      publish_tf: true
    </rosparam>
  </node>-->
<!---  
  <node pkg="jsk_pcl_ros" type="cluster_point_indices_decomposer" 
	name="supervoxel_segmentation_decomposer" output="screen">
    <remap from="~input" to="/multilayer_object_tracking/supervoxel/cloud" />
    <remap from="~target" to="/multilayer_object_tracking/supervoxel/indices" />
  </node>-->
</launch>
