<launch>
  <arg name="POINTS" default="/camera/depth_registered/points" />
  <arg name="NORMALS" default="/normals" />
  <arg name="filter_point" default="/pcl_filter_utils/output/cloud" />

  <arg name="seg_plane" default="false" />
  <arg name="save_selected_cloud" default="false" />

  <!-- <include file="$(find pcl_filter_utils)/launch/pcl_filter_utils.launch"> -->
  <!--   <arg name="cloud" value="$(arg POINTS)"/> -->
  <!-- </include> -->

  
  <node pkg="cuboid_bilateral_symmetric_segmentation" 
	type="cuboid_bilateral_symmetric_segmentation_node"
	name="cuboid_bilateral_symmetric_segmentation" output="screen" clear_params="false">
    <remap from="input_cloud" to="$(arg POINTS)" />
    <remap from="input_seed" to="/probabilty_map" />
    <remap from="input_normals" to="$(arg NORMALS)" />
    
    <remap from="input_planes" to="/multi_plane_estimate/output_refined_polygon" />
    <remap from="input_coefficients" to="/multi_plane_estimate/output_refined_coefficients" />
    
  </node>

  
  <node pkg="jsk_pcl_ros" type="cluster_point_indices_decomposer"
  	name="cbs_segmentation_decomposer" output="screen" clear_params="true">
    <remap from="~input" to="/cbss/output/cloud" />
    <remap from="~target" to="/cbss/output/indices" />
  
    <remap from="~align_planes" to="/multi_plane_estimate/output_refined_polygon" />
    <remap from="~align_planes_coefficients" to="/multi_plane_estimate/output_refined_coefficients" />
    <param name="align_boxes" value="true" />
    <param name="use_pca" value="true" />
    <param name="publish_clouds" value="false" />
    <param name="publish_tf" value="true" />
  </node>

  <node pkg="jsk_interactive_marker" type="bounding_box_marker" 
	name="interactive_box_marker" output="screen">
    <remap from="~bounding_box_array" to="/cbs_segmentation_decomposer/boxes" />
  </node>

  <group if="$(arg save_selected_cloud)" >
    <node pkg="jsk_pcl_ros" type="selected_cluster_publisher"
          name="selected_cluster_publisher" output="screen">
      <remap from="~input" to="/cbss/output/cloud" />
      <remap from="~indices" to="/cbss/output/indices" />
      <remap from="~selected_index" to="/interactive_box_marker/selected_index" />
      <remap from="~output" to="/selected_pointcloud/output" />
    </node>

    <node pkg="jsk_pcl_ros" type="transform_pointcloud_in_bounding_box" 
	  name="save_cloud_in_bounding_box" output="screen">
      <remap from="~input" to="/cbss/output/cloud" />
      <remap from="~input_box" to="/interactive_box_marker/selected_box" />
    </node>
  </group>

</launch>
