<launch>
  <arg name="image" default="/camera/rgb/image_rect_color" />
  <arg name="depth" default="/camera/depth_registered/image_raw" />
  <node pkg="depth_map_icp" type="depth_map_icp_node" name="depth_map_icp" 
	output="screen" >
    <remap from="depth" to="$(arg depth)"/>
  </node>
  <!-- <node pkg="image_view" type="image_view" -->
  <!-- 	name="image_view" output="screen"> -->
  <!--   <remap from="image" to="/particle_filter_tracking/output/image"/> -->
  <!-- </node> -->
</launch>
