<launch>
  <arg name="image" default="/camera/rgb/image_rect_color" />
  <node pkg="ros_cmt_tracker" type="ros_cmt_tracker_node" name="ros_cmt_tracker" output="screen" >
    <remap from="input" to="$(arg image)" />
    <remap from="input_screen" to="/camera/rgb/image_rect_color/screenrectangle"/>
  </node>
  <node pkg="image_view2" type="image_view2"
	name="image_view2" output="screen">
    <remap from="image" to="$(arg image)" />
  </node>
  <node pkg="image_view" type="image_view"
	name="image_view" output="screen">
    <remap from="image" to="/ros_cmt_tracker/output/tracker"/>
  </node>
</launch>
